[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<1.24"
pandas = "<2.0.0"
scipy = "*"
matplotlib = "*"
seaborn = "*"
loguru = "*"
jupyterlab = "*"
qtconsole = "*"
notebook = "*"
ipywidgets = "*"
pymc = "*"
arviz = "*"
flake8 = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
streamlit = "*"
scikit-learn = "*"
statsmodels = "*"
dc-stat-think = "*"
numba = "*"
streamlit_option_menu = "*"
lime = "*"
shap = "*"
alibi = {version = "*", extras = ["ray"]}
ALE = "*"
PyALE = "*"
importlib_resources = "*"
vl-convert-python = "*"

[dev-packages]
twine = "*"
build = "*"
mkdocs = "*"
mkdocstrings = "*"

[requires]
python_version = "3"
